<div class="chatfield__header">
    <div class="header__header__inner">

        <span class="chatfield__header__exit"></span>

        <p class="chatfield__header__title">Каво?!</p>

    </div>
</div>