<nav class="nav__header">
    <div class="nav__inner">
        <p class="nav__logo">#MyChatSorter</p>

        <ul class="nav__menu">
            <li class="menu__links">
                <a class="menu__link links" href="/">Главная</a>
            </li>
            <li class="menu__links">
                <a class="menu__link links" href="/">Каналы</a>
            </li>
            <li class="menu__links">
                <a class="menu__link links" href="/">Чаты</a>
            </li>
        </ul>

        <ul class="nav__account">
            <% if(user_auth==true){ %>
                <li class="account__links links"><a href="/auth/logout" class="account__link">Выход</a></li>

                <% } else{ %>
                    <li class="account__links links"><a href="/auth/login" class="account__link">Вход</a></li>
                    <li class="account__links links"><a href="/auth/register" class="account__link">Регистрация</a></li>
                    <% }%>
        </ul>

        <div class="nav__burger">
            <div class="burger__btn">
                <span></span>
                <span></span>
                <span></span>
            </div>

            <div class="burger__inner" aria-hidden="true">

                <ul class="burger__menu">
                    <li class="menu__links">
                        <a class="menu__link" href="/">Главная</a>
                    </li>
                    <li class="menu__links">
                        <a class="menu__link" href="/">Каналы</a>
                    </li>
                    <li class="menu__links">
                        <a class="menu__link" href="/">Чаты</a>
                    </li>
                </ul>



                <ul class="burger__accaunts">

                    <% if(user_auth==true){ %>
                        <li class="account__links"><a href="/auth/logout" class="account__link">Выход</a></li>

                        <% } else{ %>
                            <li class="account__links"><a href="/auth/login" class="account__link">Вход</a></li>
                            <li class="account__links"><a href="/auth/register" class="account__link">Регистрация</a>
                            </li>
                            <% }%>

                </ul>

            </div>
        </div>

    </div>
</nav>




<script>
    let btn = document.querySelector('.menu__btn')
    let e = document.querySelector('.menuItems')
    btn.addEventListener('click', () => {
        e.setAttribute('aria-hidden', e.getAttribute('aria-hidden') === 'false')
    })
</script>