<article class="chatfield">
    <div class="chatfield__inner">
        <%- include('article/header.ejs'); %>
        
        
        
        
        <%- include('article/chat/message.ejs'); %>
        
        <!-- <%- include('article/chat/form.ejs'); %> -->
    </div>
</article>