<aside class="sidebar">

    <%- include('asidbar/title.ejs'); %>


        <div class="sidebar__inner">

            <%- include('asidbar/favourites.ejs'); %>

            <%- include('asidbar/chatnals.ejs'); %>

        </div>

</aside>