@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* bg */
    --bg--color: #2c2c2c;
    --second--bg--color: #3f3f3fbd;
    --section--bg--color: #202020bd;

    /* text */
    --text--font-family: 'Montserrat', sans-serif;
    --text--color: #ffffff;
    --text--color--not--active: #5c5c5c;
    --link--color: #dddddd;
    --text--color--link--hover: #fff;
    --text--bg--link--after: #d83030;

    /* border */
    --border-radius: 5px;

    /* btn */
    --btn--bg--color: #f16c14;
    --btn--bg--color--hover: rgb(245, 125, 44);
    --btn--padding: 12px 15px;

    /* inputs */
    --input--bg-color: #464646;

}