@import url('/css/footer/style.css');
@import url('/css/header/style.css');
@import url('/css/auth/forms.css');
body {
    background: var(--bg--color);
    color: var(--text--color);
    font-size: 1rem;
    font-family: var(--text--font-family);
}

a {
    color: var(--link--color);
    text-decoration: none;
    width: 100%;
}













/* swal2-container swal2-top-end swal2-backdrop-show */

.swal2-popup swal2-toast swal2-icon-error swal2-show {
    background: #000;
}