@import url('/css/footer/style.css');
@import url('/css/header/style.css');
@import url('/css/auth/forms.css');
@import url('/css/main/style.css');

body {
    background: var(--bg--color);
    color: var(--text--color);
    font-size: 1rem;
    font-family: var(--text--font-family);
}

a {
    color: var(--link--color);
    text-decoration: none;
    width: 100%;
    font-weight: var(--nav--link-fw);
    transition: color 0.6s ease;
    font-size: var(--nav--link-fs);
}


a:hover {
    color: var(--links--color--hover);
}











/* swal2-container swal2-top-end swal2-backdrop-show */

.swal2-popup .swal2-toast {
    background: #000;
}
.swal2-container {
    z-index: 1000000;
}