<div class="main__inner">

    <div class="main__chat">
        <!-- aside -->
        <%- include('chat/aside.ejs'); %>



            <!-- article -->
        <%- include('chat/article.ejs'); %>
    </div>


</div>