<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>

    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>

<style>
    header {
        padding: 20px;
        background-color: var(--second--bg--color);
    }

    footer {
        z-index: 999;
        position: fixed;
        width: 100%;
        left: 0;
        bottom: 0;
    }
</style>