<div class="messages">
    <div class="messages__inner">

        <ul class="messages__items">

            <p class="messages__empeti">Тут еще нет сообщений</p>

            <li class="messages__item" id="">
                <p class="message__tag" id="">#123</p>
                <p class="messages__data" id="">
                    Текст торт бла бла бла
                </p>
                <span class="message__btn__to__favourite" id="">В избранное</span>
            </li>
            
            <li class="messages__item" id="">
                <p class="message__tag" id="">#123</p>
                <p class="messages__data" id="">
                    Текст торт бла бла бла
                </p>
                <span class="message__btn__to__favourite" id="">В избранное</span>
            </li>

        </ul>
    </div>
</div>