<div class="auth">

    <div class="auth__inner">
        <p class="auth__title">Регистрация</p>

        <form class="form" action="/auth/register" method="post">
            <label>
                <input class="form__email" type="text" name="email" placeholder="Exemple@mail.com">
            </label>

            <label>
                <input class="form__username" type="text" name="username" placeholder="Username">
            </label>

            <label class="m_pass">
                <input class="form__password" type="password" name="password" placeholder="Password">
                <span class="show__password" id="1"> </span>
            </label>

            <label class="c_pass">
                <input class="form__confirm__password" type="password" name="password_confirm"
                    placeholder="Password Сonfirm">
                <span class="show__password" id="2"> </span>
            </label>

            <div class="form__btn_s">
                <button class="btn" type="submit">Создать</button>
                <a href="/auth/login">Уже есть аккаунт?</a>
            </div>
        </form>
    </div>
</div>

<script>

    let a = document.querySelectorAll('.show__password');

    a.forEach(key => {
        if (key.id == 1) {
            let x = document.querySelector('.form__password');
            key.addEventListener('click', () => {
                if (x.type === "password") {
                    x.type = "text";
                    key.style.background = `url("/img/eye-off.svg") 0 0 no-repeat`
                } else {
                    x.type = "password";
                    key.style.background = `url("/img/eye-on.svg") 0 0 no-repeat`
                }
            })
        }
        if (key.id == 2) {
            let x = document.querySelector('.form__confirm__password');
            key.addEventListener('click', () => {
                if (x.type === "password") {
                    x.type = "text";
                    key.style.background = `url("/img/eye-off.svg") 0 0 no-repeat`
                } else {
                    x.type = "password";
                    key.style.background = `url("/img/eye-on.svg") 0 0 no-repeat`
                }
            })
        }

    })

</script>
