<div class="auth__register">

    <div class="register__inner">
        <p class="register__title">Авторизация</p>

        <form class="register__form" action="/auth/login" method="post">
            <label>
                <input class="form__username" type="text" name="username" placeholder="Username"
                    autocomplete="username">
            </label>

            <label class="l_pass">
                <input class="form__password" type="password" name="password" placeholder="Password" autocomplete="off">
                <span class="show__password"> </span>
            </label>

            <div class="form__btn_s">
                <button class="btn" type="submit">Войти</button>
                <a href="/auth/register">Еще нет аккаунта?</a>
            </div>
        </form>
    </div>
</div>

<script>
    let a = document.querySelector('.show__password');
    let x = document.querySelector('.form__password');

    a.addEventListener('click', (e) => {
        if (x.type === "password") {
            x.type = "text";
            a.style.background = `url("/img/eye-off.svg") 0 0 no-repeat`
        } else {
            a.style.background = `url("/img/eye-on.svg") 0 0 no-repeat`
            x.type = "password";
        }
    })

</script>