<div class="auth">
    <div class="auth__inner">
        <form class="auth__form" action="/auth/register" method="post">
            <p class="form__title">Регистрация</p>

            <input class="form__input email" type="text" name="email" placeholder="Exemple@mail.com">

            <input class="form__input username" type="Username" name="username" minlength="6" placeholder="Username"
                autocomplete="username">
            <label class="form__lable--password">
                <input class="form__input password" type="password" minlength="6" name="password"
                    placeholder="Password">
                <span class="show__password"> </span>
            </label>
            <label class="form__lable--password">
                <input class="form__input password_confirm" placeholder="Password confirm" type="password"
                    name="password_confirm">
            </label>
            <div class="form__lastblock">
                <button class="form__btns" type="submit">Регистрация</button>
                <a href="/auth/login" class="form__links">Уже есть аккаунт?</a>
            </div>
        </form>
    </div>
</div>



<script>
    let btnShowPass = document.querySelector('.show__password');
    let passInput = document.querySelector('.password');

    btnShowPass.addEventListener('click', (e) => {
        if (passInput.type === "password") {
            btnShowPass.style.background = `url("/img/eye-off.svg") 0 0 no-repeat`
            btnShowPass.style.backgroundPosition = `center`;
            btnShowPass.style.backgroundSize = `cover`;
            return passInput.type = "text";
        } else {
            btnShowPass.style.background = `url("/img/eye-on.svg") 0 0 no-repeat`
            btnShowPass.style.backgroundPosition = `center`;
            btnShowPass.style.backgroundSize = `cover`;
            return passInput.type = "password";
        }
    })
</script>