@import url('/css/main/chat/header/style.css');
@import url('/css/main/chat/form.css');

.chatfield {
    width: 100%;
    min-height: 100%;
}

.chatfield__inner {
    display: grid;
    grid-template-rows: 50px auto 50px;
}

.chatfield__inner {
    height: 100%;
    overflow: hidden;
}

.chatfield__inner .messages {
    position: relative;
    width: 100%;
    min-height: 100%;
    overflow: scroll;
    overflow-x: hidden;
}


.chatfield__inner .messages::-webkit-scrollbar {
    width: 10px;
}

.chatfield__inner .messages::-webkit-scrollbar-track {
    border-radius: 15px;
    background: #949494;
}

.chatfield__inner .messages::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background: #474747;
}