.sidebar {
    width: 100%;
    height: 100%;
    overflow: scroll;
    border-right: 1px solid #555555;
}

.sidebar::-webkit-scrollbar {
    width: 0;
}

.sidebar__title {
    user-select: none;

    position: sticky;
    top: 0;
    background: #393939;
    color: #fff;
    width: 100%;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
}

.sidebar__inner {
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
}

/* Избранное */
.sidebar__inner .favourites .favourites__title {
    position: sticky;
    top: 0;
    z-index: 1000;
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar__inner .favourites .favourites__title .title__text {
    user-select: none;
    font-size: 20px;
    font-weight: 700;
}


.sidebar__inner .favourites .favourites__items {
    margin-top: 10px;
    overflow: auto;
    overflow-x: hidden;
    max-height: 25vh;
}

.sidebar__inner .favourites .favourites__items::-webkit-scrollbar {
    width: 10px;
}

.sidebar__inner .favourites .favourites__items::-webkit-scrollbar-track {
    border-radius: 15px;
    background: #949494;
}

.sidebar__inner .favourites .favourites__items::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background: #474747;
}




/* Каналы */
.sidebar__inner .chenals {
    margin-top: 10px;
}

.sidebar__inner .chenals .chenals__title {
    position: sticky;
    top: 0;
    z-index: 1000;
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar__inner .chenals .chenals__items {
    margin-top: 10px;
    overflow: auto;
    overflow-x: hidden;
    max-height: 25vh;
}

.sidebar__inner .chenals .chenals__title .title__text {
    user-select: none;
    font-size: 20px;
    font-weight: 700;
}


.sidebar__inner .chenals .chenals__items::-webkit-scrollbar {
    width: 10px;
}

.sidebar__inner .chenals .chenals__items::-webkit-scrollbar-track {
    border-radius: 15px;
    background: #949494;
}

.sidebar__inner .chenals .chenals__items::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background: #474747;
}




/* Other */
.items__empety {
    margin-top: 10px;
    user-select: none;
    font-style: italic;
    font-size: 16px;
    color: #B0B0B0;
}

.items__item {
    margin-bottom: 5px;
    cursor: pointer;
    position: relative;
    width: 300px;
    height: 32px;
    display: flex;
    align-items: center;
    border-radius: 25px;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    background: #444444;
    border: #818181 1px solid;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.title__btn-add {
    user-select: none;
    cursor: pointer;
    width: 56px;
    height: 25px;
    border-radius: 40px;
    background: #fff;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.4s ease, color 0.3s ease;
}

.title__btn-add:hover {
    background: #1ac714;
    color: #fff;
}

.item__link {
    width: 50%;
    margin-left: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.item__remove {
    cursor: pointer;
    position: absolute;
    width: 24px;
    height: 24px;
    right: 10px;
    background-image: url('/img/icons/icon_del.svg');
}

.item__edit {
    cursor: pointer;
    position: absolute;
    width: 24px;
    height: 24px;
    right: 50px;
    background-image: url('/img/icons/icon_edit.svg');
}