<div class="chenals">
    <div class="chenals__title">
        <p class="title__text">Каналы</p>
        <span class="title__btn-add">
            +
        </span>
    </div>
    <ul class="chenals__items">
        <p class="items__empety">У Вас нет доступных чатов!</p>

        <!-- <li class="items__item">
            <p class="item__link" id="">Каво?!</p>
            <span class="item__remove" id=""></span>
            <span class="item__edit" id=""></span>
        </li> -->

        <!-- <li class="items__item">
            <p class="item__link" id="">ЫАЫААаыА</p>
            <span class="item__remove" id=""></span>
            <span class="item__edit" id=""></span>
        </li>-->

        <!--<li class="items__item">
            <p class="item__link" id="">Школа</p>
            <span class="item__remove" id=""></span>
            <span class="item__edit" id=""></span>
        </li> -->
    </ul>
</div>