<div class="favourites">
    <div class="favourites__title">
        <p class="title__text">Избранное</p>
        <span class="title__btn-add ">
            +
        </span>
    </div>
    <ul class="favourites__items">
        <!-- <p class="items__empety">У Вас нет любимых хэштегов!</p> -->
        <li class="items__item">
            <p class="item__link" id="">#наука #наука #наука #наука #наука #наука #наука #наука</p>
            <span class="item__remove" id=""></span>
            <span class="item__edit" id=""></span>
        </li>

        <li class="items__item">
            <p class="item__link" id="">#наука</p>
            <span class="item__remove" id=""></span>
            <span class="item__edit" id=""></span>
        </li>
    
    </ul>
</div>